<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="ressources/css/materialize.min.css">
	<link rel="stylesheet" href="ressources/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="ressources/css/styles.css">
</head>
<body>
	<header>
		<div class="navbar-fixed">
			<nav>
				<div class="nav-wrapper">
					<a href="#!" class="brand-logo">Logo</a>
				</div>
			</nav>
		</div>
	</header>
	<%-body%>


	<script src="ressources/js/jquery.min.js"></script>
	<script src="ressources/js/materialize.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript">
		console.log("test");
		var socket = io();
		socket.emit("test", {test: "salut"});
		socket.on("test", (data) => {
			console.log("Message received : "+data.test);
		});
	</script>

	<%- script %>
</body>
</html>
